<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CustomSection" type="ConfigDomain.CustomSection, ConfigDomain" />
	</configSections>
	<CustomSection name="Contoso" url="http://www.contoso.com" port="8080" />
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>